html{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  background: #071322;
  user-select: none;
  font-family: lato, sans-serif;
  color: #eee;
  transition: 0.7s ease;
}



body {
  background: #071322;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

br{
  margin-top: 0%;
}


App{
  width: 100%;
  overflow: hidden;
  height: 100%;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
  margin-right: 10px;
}


/* Handle */
::-webkit-scrollbar-thumb:hover {
  background: rgba(202, 202, 204, 0.79);
}

::-webkit-scrollbar-thumb {
  background: rgba(11, 15, 23, 0.58);

}

/* layout styles */
nav{
  background:  var(--primary) ;
  background-blend-mode: screen;
  width: 100%;
  height: 50px;
  align-items: center;
  display: flex;
  justify-items: center;
  flex: 1;
  vertical-align: center;
  align-content: center;
  padding-bottom: 3px;
  backdrop-filter: blur(1.2px);
  position: fixed;
  position: fixed;
  z-index: 100;
  top: 0; /* required */
}

nav a{
  vertical-align: center;
  color: var(--title);
}
nav .sidenav-trigger{
  margin: 0;
}

::placeholder{
  color: #ccc;
}

::-ms-input-placeholder{
  color: #ccc;

}

input{
  font-family: lato, sans-serif;
  width: 80%;
  background: transparent;
  mask-border-mode: unset;
  font-size: 14px;
  box-shadow: none !important;
  border: none;
  padding: 20px;

  transition: 0.4s ease;
  border-bottom: 1px solid #949494;
  -webkit-box-shadow: none !important;
}


button {
  background-color: transparent;
  font-family: lato , sans-serif;
  font-size: 16px;
  padding-top:10px;
  padding-bottom: 10px;
  border-radius: 7px;
  padding-left: 10;
  padding-right: 10;
  transition: 0.4s ease;
  border: none;
  color: #fff;
}



:root{
  --primary: #071322;
  --secondary: rgba(11, 17, 45, 0.7);
  --title: #fff;
}

input:focus{
  outline: none;
  border-bottom: 1px solid #b94949;
  box-shadow: none !important;
}
input:active{outline: none;
  border-bottom: 1px solid #b94949;
  box-shadow: none !important;
}

input.noner{
  border-bottom: 1px solid rgba(49, 49, 49, 0.079);
}

span {
  color: #eeeeee;
}

/*
ROM SPECIAL
 */
.rom-app {
  overflow: auto;
  height: 100vh;
}

.enucs{
  font-size: 67px;
  margin-top: 10px;
  font-weight: bold;
  text-shadow: 1px 2px 12px rgba(0, 0, 0, 0.38);
}

.text-shadow{
  text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.38);
}

.circle{
  margin: 10px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
}

.back-red{
  background-color: #d24949;
}
.back-pink{
  background-color: #c55c5c;
}
.back-white{
  background-color: #eeeeee;
}

.right-container{
  width: 60%;
  background-color: #1c4254;
  right: 0px;
  height: calc(100vh - 50px);
}

.home-cour{
  background-image: url('assets/code.jpg');
  filter: blur(2.6px);
  z-index: -1;
  opacity: 0.56;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%; position: absolute;
  text-align: center;
  height: calc(100vh - 50px);
}

.home-1{display:flex; flex:1; height:calc( 100vh - 50px); width:100%; position:relative}

.text {
  text-align: center;
  z-index: 12;
}

.full{
  width: 100%;
  height: 100%;
}

.page {
  width: 100%;
  height: calc(100vh - 50px);
  flex: 1;
  background: #131F2E;
  margin-bottom: 0px;
  margin-top:50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}


a:link{
  font-family: lato, sans-serif;
  text-underline: none;
  text-decoration: none;
}

a.items {
  margin: 12px;
  vertical-align: middle;
  font-size: 19px;
}

span.red {
  color: #d24949;
}

.left{
  align-self:flex-start;
}

/* form-styles */
.add-btn{
  background: var(--primary) !important;
}


.fix {
  text-align: center;
  position: fixed;
  margin: 0px;
}

.title{

  font-family: sans-serif;
  font-style:bold;
  font-weight: 700;
  font-size: 23px;

}

.image{
  display: inline-block;
  margin: 10px;
}
.prophoto{

  border-radius: 4%;
  border-style: solid;
  border-width: 1.5px;
  width:25%;
  border-color:#d3d3d3;
  vertical-align: middle;
  display: inline-block;
  z-index: 1;
}

.holder{

  max-width:30%;
}


.hider {
  opacity: 1;
  transition: 0.3s ease;
  visibility: visible;
}

.hider-reverse {
  opacity: 0;
  transition: 0.3s ease;
  visibility: hidden;
}


.flex {
  display: flex;
}

.flex > div {
  flex: 1;
}

.panel-left{
  opacity: 1;
  visibility: visible;
  height: 100%;
  z-index: 2;
  padding: 20px;
  width: 23%;
  float: left;
  align-content: center;
  transition: 0.3s ease;
  position: fixed;
  box-shadow:  0px 6px 3px rgba(90, 90, 90, 0.438);
  background-color: #fff;
}

.panel-right{
  opacity: 1;
  visibility: visible;
  padding: 20px;
  right: 0;
  float: left;
  height: 100%;
  align-content: center;
  width: 23%;
  background-color: #fff;
  position: fixed;
  box-shadow: 0px 6px 3px rgba(90, 90, 90, 0.438);
  transition: 0.3s ease;
}

button.blackx {
  font-size: 14px;
  color:#0000009d;
}

button.grayx {
  font-size: 14px;
  color:#0000009d;
  background-color: #0000001d;
  transition: 0.3s ease;
}

.grayx:hover {
  background-color: rgba(94, 94, 94, 0.37);
  box-shadow: 1px 1px 10px 1px rgba(30, 30, 30, 0.18);
}

/*
Green X
 */
button.greenx {
  font-size: 14px;
  color: #ffffff;
  font-family: "Lato Light", sans-serif;
  background-color: #69e8a4;
}

.greenx:hover {
  background-color: #2c724c;
}

.greenx:focus {
  background-color: #2c724c;
}
.shGreen {
  box-shadow: 1px 1px 10px 1px rgba(41, 246, 122, 0.51);
}

/*
Blue X
 */
button.bluex {
  font-size: 14px;
  font-family: "Lato Light", sans-serif;
  color: #ffffff;
  background-color: #4680ff;
}
.bluex:hover {
  background-color: #224ca8;
}

.bluex:focus {
  background-color: #224ca8;
}
.shBlue {
  box-shadow: 1px 1px 10px 1px rgba(0, 81, 255, 0.45);
}

/*
Red X
 */

button.redx {
  color: #ffffff;
  font-family: "Lato Light", sans-serif;
  font-size: 14px;
  background-color: #FF5757;
}
.redx:hover {
  background-color: #cb3535;
}

.redx:focus {
  background-color: #cb3535;
}
.shRed {
  box-shadow: 1px 1px 10px 1px rgba(222, 35, 35, 0.47);
}

/*
Orange X
 */

button.orangex {
  color: #ffffff;
  font-family: "Lato Light", sans-serif;
  font-size: 14px;
  background-color: #ff8b4f;
}

.orangex:hover {
  background-color: #9f552f;
}

.orangex:focus {
  background-color: #9f552f;
}
.shOrange {
  box-shadow: 1px 1px 10px 1px rgba(255, 141, 69, 0.45);
}

/*
Theme X
 */

button.themex {
  font-family: "Lato Light", sans-serif;
  font-size: 14px;
  color: #ffffff;
  background-color: #1c4254;
}

.themex:hover {
  background-color: #275c75;
}

.themex:focus {
  background-color: #275c75;
}
.shTheme {
  box-shadow: 1px 1px 10px 1px rgba(11, 14, 26, 0.37);
}


blackx:hover {
  background-color: #0000001b;
}

blackx:focus {
  background-color: #00000011;
}


button:hover {
  background-color: #0000001b;
}

button:focus {
  background-color: #00000007;
}

button.white-shadow:hover {
  background-color: #fff7f71b;
}

button.white-shadow:focus {
  background-color: #ffffff07;
}

hr {
  border: 0.2px solid #0000000c;
  color: #00000054;
}

.panelList {

  height: auto;
  float: left;
  margin-left: 23%;
  width: 54%;

}

a{
  color: rgba(61, 61, 61, 0.87);
}

.sidenav-side-form {
  transition: 0.3s ease-out;
  width:0px;
  visibility: hidden;
}

/*
div nav-bar bottom
 */
.mobile-nav{
  width: 100%;
  height: 0px;
  background-color: rgba(17, 21, 37, 0.55);
  position: fixed;
  bottom: 0px;
  z-index: 120;
  transition: 0.4s ease;
  opacity: 0;
  visibility: hidden;
}

.mobile-nav-item4{
  text-align: center;
  align-self: center;
  background-color: transparent;
  width: 25%;
  height: 100%;
  top: 50%;

  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-top:45px;
  transition: 0.4s ease;
  float: left;
}
.mobile-nav-item4:hover{
  background-color: transparent;
}
.mobile-nav-item4:focus{
  background-color: transparent;
}
.mobile-nav-item4:active{
  background-color: transparent;
}

.cardText{

}

.cardMain{
  width: 100%;
  transform: translateY(-100%);
  transition: 0.4s ease;
  z-index: -100;
  position: relative;
  -webkit-user-drag: auto	;
  margin: 0px;
  height: 200px;
  object-fit: cover ;
  background-position: center;
  box-shadow: -1px 1px 16px 1px rgba(61, 61, 61, 0.47);
}


/*
Universal widgets for my project
 */

.alertbox {
  align-self: center;
  vertical-align: center;
  text-align: center;
  height: auto;
  padding: 10px;
  padding-bottom: 15;
  margin:auto;
  margin-top: 10%;
  z-index: 1;
  background-color: #fffcfc;
  border-radius: 12px;
  width: auto;
  max-width: 290px;
  transition: 0.5s ease;
  box-shadow: 2px 3px 16px 5px rgba(79, 79, 79, 0.19);
}
.alert{

  width: 100%;
  height: 100%;
  text-align: center;
  align-content: center;
  align-self: center;
  align-items: center;
  z-index: 2560;
  position: fixed;
  transition: 0.5s ease;
  opacity: 0;
  visibility: hidden;
}

p.aTitle {
  font-size: 18px
}
p.aText {
  font-size: 13px;
  color: rgba(103, 103, 103, 0.75);
}

.wrap-text-white{
  transition: 0.4s ease;
  width: 280px;
  color: #a2a2a2;
  minWidth:280px,
}

@media screen and (max-width: 800px)
{
  .items{
    font-size: 16px;
  }

  .holder{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 80%;
  }

}

@media screen and (max-width: 600px) {

  .web-console{font-size: 20px}
  .small{font-size: 20px}
}

.mobile-view{
  width: 0px;
  height: 0px;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s ease;
}

.mobile-view-img{
  background-image: url("assets/code.jpg");
  filter: blur(1.6px);
  box-shadow: 1px 1px 10px 1px rgba(8, 14, 14, 0.34);
  background-size: cover ;
  height: 0px;
  background-repeat: no-repeat;
}



@media screen and (max-width: 900px) {

  .left-sider{visibility: hidden;  opacity: 0; height: 0px}
  .home-1{visibility: hidden; transition: 0.3s ease; opacity: 0; height: 0px}
  .full{height: 0px; opacity: 0; visibility: hidden;}
  .home-cour{height: 0px; opacity: 0; visibility: hidden}
  .web-console{font-size: 20px}
  .small{font-size: 20px}


  .mobile-view-img{
    width: 100%;
    height: 260px;
  }

  .page{
    height: calc(100vh - 120px);
  }

  .mobile-view{
    width: 100%;
    height:260px;
    opacity: 1.0;
    visibility: visible;
    transition: 0.6s ease;
  }

  .mobile-nav{
    width: 100%;
    height: 70px;
    opacity: 1;
    visibility: visible;
    backdrop-filter: blur(1.3px);
    -webkit-backdrop-filter: blur(1.3px);
    box-shadow: 4px 1px 9px rgba(27, 29, 31, 0.61);
  }

  .recipes{
    margin-bottom: 80px;
  }

  .sidenav-side-form{
    transition: 0.3s ease-out;
    width:70%;
    visibility: visible;
  }
  .panel-left{

    width: 0;
    opacity: 0;
    float: left;
    visibility: hidden;
    transition: 0.3s ease;
    top:0;
    left: 0;
    height: 100%;
    background-color: #f0f7ff;
  }

  .panel-right{
    opacity: 0;
    width: 0;
    float: left;
    visibility: hidden;
    transition: 0.3s ease;
    height: 100%;
    right: 0;
    top:0%;
    background-color: #ffffff;
  }

  .hider {
    opacity: 0;
    transition: 0.3s ease;
    visibility: hidden;
  }
  .hider-reverse {
    opacity: 1;
    transition: 0.3s ease;
    visibility: visible;
  }

  .flex {
    display:inline;
  }

  .panelList {
    width:100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0%;
    height: auto;
  }
}


/*________*/

@media screen and (min-width: 1090px)
{

  .items{
    font-size: 16px;
  }

  .recipe-title{
    font-size: 20;
  }
  .recipe-details{
    font-size: 16px;
  }

  .Osa{
    font-size: 20px;
    display: table-cell;
    width: 77%;
  }

  .Osa2{
    font-size: 20px;
    display: table-cell;
    width: 60%;
  }
}
@media screen and (min-width: 1290px)
{
  .default{

    font-size:19px;
  }

  .items{
    font-size: 16px;
  }

  .Osa2{
    font-size: 27px;
    display: table-cell;
    width: 70%;
  }
}

.Card{

  border-radius: 13px;
  background-color: #3fa9c3;
  padding:10px;
  display:inline-block;
  margin:10px;
  left:0px;
  width:25%;
  background: linear-gradient(to left,#43abc5,#008b8b);
  background-blend-mode: screen;
}

.web-console{
  font-family: "Consolas", sans-serif;
  font-size: 40px;
}

.small{
  transition: 0.5s ease;
  font-size: 30px;
}

.full-bg-img-mask{
  width: 100%;
  height:  100%;
  display: flex;
  overflow: auto;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.full-bg-img-mask-not-center{
  width: 100%;
  height:  100%;
  overflow: auto;
  position: absolute;
}

.shadow-container{
  box-shadow: 2px 2px 12px 11px rgba(54, 54, 54, 0.22);
}

.full-bg-img-mask
::-webkit-scrollbar {
  width: 0px;
  margin-right: 0px;
}


/* Handle */
.full-bg-img-mask::-webkit-scrollbar-thumb:hover {
  background: rgba(202, 202, 204, 0.79);
}

.full-bg-img-mask::-webkit-scrollbar-thumb {
  background: rgba(11, 15, 23, 0.58);

}
.full-bg-img {
  background-image: url("assets/code.jpg");
  background-repeat: no-repeat;
  filter: blur(2.9px);
  opacity: 0.5;
  background-size: cover;
  position: absolute;
  width:  100%;
  height:  100%;
}


@media screen  and (max-width: 792px) {
  .wrap-text-white{
    transition: 0.4s ease;
    width: 80%;
  }
}

@media  screen and (max-width: 500px) {
  .mobile-nav-item4{
    visibility: visible;
  }
  .material-symbols-outlined{
    visibility: visible;
  }

  .small{
    transition: 0.5s ease;
    font-size: 11px;
  }

  p{
    font-size: 12px;
  }
}

/*
Light theme, dark front
 */


